{% include 'frontend/header.html' %}

<div class="login-page">
    <div class="form">
    <form action="" class="login-form">
        <input type="text" id="nomecompleto" placeholder="Nome completo">
        <input type="text" id="username" placeholder="Usuraio">
        <input type="email" id="email" placeholder="Email">
        <input type="email" id="matricula" placeholder="Matricula">
        <input type="password" id="password1" placeholder="Senha">
        <input type="password" id="password2" placeholder="Confirmação de senha">
    </form>
    <button id="submit" >Registrar</button>
</div>
</div>
<script>
    register();
</script>

{% include 'frontend/footer.html' %}

